{* This is the welcome page, you can delete it *}

{block content}
    <h1>Testovací formulář</h1>
    {form ajaxForm, class => "ajax"}
        {input name}
        {input send}
    {/form}

    <h1>Testovací request (makeRequest)</h1>
    <a href="#" class="click">Test request</a>
{/block}
